body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400; /* Regular */
  color: #000000;
  background-color: #ffffff;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {          
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
.container {          
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
/* навигация */
.main-header,
.features,
.header-text {
  background-color: #eeeeee; /* bg для навигации и слайдеров */
}
.main-header {
  padding-top: 49px;
  min-width: 1200px;
}
.main-navigation {          
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 500; 
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
.main-header-logo {
  width: 160px;
  height: 65px;
}
.main-header-logo[href]:hover img,
.main-header-logo[href]:focus img {
  opacity: 0.8;
}
.main-header-logo[href]:active img {
  opacity: 0.3;
}
.site-navigation,
.user {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-navigation {            
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  margin-right: 32px;
}
.user {
  display: flex;
  max-width: 160px;
  text-align: right;
}
.user .basket {            
  position: relative;
  padding-left: 50px;
}
.user .basket:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 33px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.site-navigation a,
.user a {
  display: block;
  vertical-align: middle;
  color: #000000;
  padding-bottom: 10px;
  padding-top: 26px;
}
.site-navigation li {
  margin-right: 46px;
}
.site-navigation li:nth-child(3) {
  margin-right: 0;
}
.site-navigation li:last-child {
  margin-right: 0;
  margin-left: auto;
}
.site-navigation a[href]:hover,
.site-navigation a[href]:focus,
.user a[href]:hover,
.user a[href]:focus {
  color: #fb565a;
}
.site-navigation a[href]:active,
.user a[href]:active {
  color: #a6a6a6;
}
.site-navigation .site-navigation-current { 
  color: #000000;
  border-bottom: 2px solid #fb565a;
  padding-bottom: 3px;
}
/* слайдеры */
.features {
  position: relative;
  min-width: 1200px;
}
.controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.controls i {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
}
.controls i:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.controls .active:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.feature-item {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../img/slide10.png");
  background-repeat: no-repeat;
  background-position: 400px bottom;
}
.feature-item-none {
  display: none;
}
.feature-item-show {
  display: block;
}
.feature-item:nth-child(2) {
  background-image: url("../img/slide20.png");
  background-position: 448px bottom;
}
.feature-item:nth-child(3) {
  background-image: url("../img/slide30.png");
}
.features-list p {
  margin: 0;
  padding: 0;
}
.features-list .slider {
  width: 520px;
  padding-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500; 
}
.features-list .slider-text {
  width: 415px;
  padding-bottom: 40px;

  line-height: 24px;
  color: #283136;
}
/* кнопки (общие стили) */
.button {
  display: inline-block;
  font-size: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  padding: 15px 0;
}
.btn-slider {
  padding-left: 55px;
  padding-right: 55px;
}
.btn {
  padding-left: 40px;
  padding-right: 40px;
}
.button:hover,
.button:focus {
  background-color: #e74246;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.production_list_green .btn {   /* "заказать" - зелёная кнопка */
  background-color: #00ca74;
}
.production_list_green .btn:hover,
.production_list_green .btn:focus {   
  background-color: #00bc6c;
}
.production_list_green .btn:active {   
  background-color: #00aa62;
  color: rgba(225, 225, 225, 0.3);
}
.production_list_yellow .btn {   /* "заказать" - жёлтая кнопка */
  background-color: #efc84a;
}
.production_list_yellow .btn:hover,
.production_list_yellow .btn:focus {   
  background-color: #eab534;
}
.production_list_yellow .btn:active {   
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}
.button-filter {                        /* "показать" - серая кнопка */
  color: #000000;
  background-color: #eeeeee;
}
.button-filter:hover,
.button-filter:focus {
  background-color: #dfdfdf;
}
.button-filter:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}
/* секция "продукция" */
.container-production {             
  width: 1100px;
  margin: 0 auto;
  padding: 0 80px 0 20px;
}
.production_list {                
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 80px 0 80px 0;
  border-bottom: 2px solid #eeeeee;
}
.production_list li {
  width: 300px;
}
.production_list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700; 
  text-transform: uppercase;
  margin: 20px 0 16px 0;
  padding: 0;
}
.production_list p {
  line-height: 24px;
  color: #283136;
  margin: 0 0 33px 0;
  padding: 0;
}
/* секция "О нас" */
.about_us {                  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 75px;
  padding-bottom: 72px;
  background-image: url("../img/nerds-illustration.png");
  background-repeat: no-repeat;
  background-position: 820px 40px; 
}
.about_us-column-left {
  width: 660px;
}
.about_us-column-right {
  width: 360px;
  align-self: flex-end;
}
.slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500; 
  margin: 0 0 33px 0;
  padding: 0;
}
.slogan-text {
  line-height: 24px;
  color: #283136;
  padding: 0;
  margin: 0 0 40px 0;
}
.about_us ul {
  list-style: none;
  color: #283136;
  margin: 0;
  padding: 0;
}
.about_us h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.about_us-column-left h3 {
  margin: 0 0 24px 0;
  padding: 0;
}
.about_us li {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px 0;
  padding: 0 0 0 35px;
}
.about_us li:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}
.about_us li:nth-child(3) {
margin-bottom: 0;
}
.about_us-column-right h3 {
  text-align: center;
  margin: 0 0 36px 0;
  padding: 0;
}
.about_us-column-right td {
  font-size: 45px;
  line-height: 50px;
  font-weight: 700; 
  padding: 0 0 14px 0;
}
.about_us-column-right th {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  font-weight: 400; 
  color: #283136;
}
.about_us-column-right th,
.about_us-column-right td {
  width: 30%;
}
.about_us-column-right sup {
  font-size: 25px;
  line-height: 25px; 
}
/* logo */
.logo ul {               
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 46px 0 39px 0;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  list-style: none;
}
.logo li {
  position: relative;
  width: 290px;
}
.logo img {
  opacity: 0.2;
}
.logo img:hover,
.logo img:focus {
  opacity: 1;
}
.logo img:active {
  opacity: 0.1;
}
.logo a {
  display: block; 
}
.logo-academy a {
  padding-left: 30px;
  padding-top: 17px;
}
.logo-academy a:before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 52px;
  top: 19px;
  left: 278px;
  background: #eeeeee;
}
.logo-borodinski a {
  padding-left: 35px;
}
.logo-borodinski a:before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 52px;
  top: 19px;
  left: 288px;
  background: #eeeeee;
}
.logo-pink a {
  padding-left: 57px;
  padding-top: 20px;
}
.logo-pink a:before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 52px;
  top: 19px;
  left: 298px;
  background: #eeeeee;
}
.logo-mishka a {
  padding-left: 73px;
  padding-top: 7px;
}
/* footer */
.main-footer {
  padding: 80px 0 0 0;
}
.main-footer-catalog {
  padding: 59px 0 0 0;
}
.footer-top {
  position: relative;
  margin: 0 auto;
  min-width: 1200px;
}
.map-container {
  text-align: center; 
}
.footer-top img {
  max-width: 100%; 
  height: 418px;
  z-index: -1;
 }
.footer-top iframe {
  display: block;
  width: 100%;
  height: 418px;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
}
.address {
  position: absolute;
  width: 319px;
  top: 55px;
  padding-top: 48px;
  padding-left: 49px;
  padding-bottom: 47px;
  box-sizing: border-box;
  background: #ffffff;
}
.address h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700; 
  padding: 0;
  margin: 0 0 23px 0;
}
.address p {
  color: #666666;
  line-height: 18px;
  padding: 0;
}
.address .address-slogan {
  margin: 0 0 18px 0;
}
.address-phone {
  margin: 0 0 38px 0;
}
.button-footer {           
  padding-left: 45px;
  padding-right: 46px;
}
.footer-bottom {       
  display: flex;
  flex-wrap: wrap;
  padding: 69px 20px 70px 20px;
}
.footer-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700; 
  margin: 7px 0 9px 0;
  padding: 0;
}
.footer-slogan-text {
  line-height: 22px;
  margin: 0;
  padding: 0;
}
.social_icon {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 260px;
  padding: 0;
  margin: 0 139px 0 0;
  list-style: none; 
}
.social_icon a {
  display: flex;             
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
}
.social-item:hover,
.social-item:focus {
  background: #e74246;
}
.social-item:active {
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.social-item:active img {
  opacity: 0.3;
}
/*modal__block*/
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 117px;
  width: 760px;
  margin: 0 auto;
  margin-left: -480px;
  padding: 67px 100px 84px 100px;
  background-color: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}
.modal-form {
  display: flex;               
  justify-content: space-between;
  flex-wrap: wrap;
}
.modal-item label {
  display: block;
  margin-bottom: 10px;
}
.modal-item input {
  box-sizing: border-box;
  width: 360px;
  padding: 13px 172px 14px 14px;
}
.modal-item textarea {
  box-sizing: border-box;
  width: 760px;
  height: 117px;
  padding: 10px 0 0 14px;
  margin-bottom: 44px;
}
.modal-item:nth-child(1),
.modal-item:nth-child(2) {
  width: 360px;
  margin-bottom: 34px;
}
.modal-item:nth-child(3) {
  width: 100%;
}
.modal__block h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500; 
  margin: 0 0 41px 0;
  padding: 0;
}
.modal__block label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700; 
} 
.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form textarea {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #d7dcde;
}
.modal-form input[type="text"]:hover,
.modal-form input[type="email"]:hover,
.modal-form textarea:hover {
  border: 2px solid #b4b9bb;
}
.modal-form input[type="text"]:focus,
.modal-form input[type="email"]:focus,
.modal-form textarea:focus {
  border: 2px solid #000;
}
.modal-form input[type="text"]:invalid,
.modal-form input[type="email"]:invalid,
.modal-form textarea:invalid {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;    
  color: #e74246;
  border: 2px solid #e74246;
}
.modal-form input[type="text"]::-webkit-input-placeholder,
.modal-form input[type="email"]::-webkit-input-placeholder,
.modal-form textarea::-webkit-input-placeholder {   /* Chrome/Opera/Safari */
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}
.modal-form input[type="text"]:focus::-webkit-input-placeholder,
.modal-form input[type="email"]:focus::-webkit-input-placeholder,
.modal-form textarea:focus::-webkit-input-placeholder {   /* Chrome/Opera/Safari */
  color: rgba(68, 68, 68, 1);
}
.modal-form input[type="text"]::-moz-placeholder,
.modal-form input[type="email"]::-moz-placeholder,
.modal-form textarea::-moz-placeholder {             /* Firefox 19+ */
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}
.modal-form input[type="text"]:focus::-moz-placeholder,
.modal-form input[type="email"]:focus::-moz-placeholder,
.modal-form textarea:focus::-moz-placeholder {             /* Firefox 19+ */
  color: rgba(68, 68, 68, 1);
}
.modal-form input[type="text"]:-ms-input-placeholder,
.modal-form input[type="email"]:-ms-input-placeholder,
.modal-form textarea:-ms-input-placeholder {             /* IE 10+ */
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}
.modal-form input[type="text"]:focus:-ms-input-placeholder,
.modal-form input[type="email"]:focus:-ms-input-placeholder,
.modal-form textarea:focus:-ms-input-placeholder {             /* IE 10+ */
  color: rgba(68, 68, 68, 1);
}
.modal-form input[type="text"]:-moz-placeholder,
.modal-form input[type="email"]:-moz-placeholder,
.modal-form textarea:-moz-placeholder {               /* Firefox 18- */
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
}
.modal-form input[type="text"]:focus:-moz-placeholder,
.modal-form input[type="email"]:focus:-moz-placeholder,
.modal-form textarea:focus:-moz-placeholder {               /* Firefox 18- */
  color: rgba(68, 68, 68, 1);
}
.button-modal {                        /* Кнопка */
  padding-left: 84px;
  padding-right: 85px;
}
.modal-close {                         
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 8px;
  right:-3px;
  width: 27px;
  height: 4px;
  background-color: #fecccd;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
.modal-close:hover:before,
.modal-close:hover:after,
.modal-close:focus:before,
.modal-close:focus:after {
  background-color: #fb565a;
}
.modal-close:active:before,
.modal-close:active:after {
  background-color: #ffeeee;
}
@keyframes bounce {
  0% {
    transform: scale(0) translateX(-1200px);
  }
  60% {
    transform: scale(1) translateX(15px);
  }
  80% {
    transform: scale(1) translateX(-5px);
  }
  90% {
    transform: scale(1) translateX(3px);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}
@keyframes shake {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(0.98);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shake-toggle {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(0.98);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.modal-show {
  display: block;
  animation: bounce 0.6s;
  animation-fill-mode: forwards;
}
.modal-error {
  animation: shake 0.3s;
}
.modal-error-toggle {
  animation: shake-toggle 0.3s;
}
/* каталог */
.container-catalog {          
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 55px;
  display: flex;                    
  justify-content: space-between;
  flex-wrap: wrap;
}
/* формы */
.header-text {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500; 
  text-align: center;
  min-width: 1200px;
  margin: 0;
  padding: 77px 0 108px 0;
}
.value {
  width: 260px;
}
.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.filter label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400; 
  color: #283136;
}
/* range */
.filter-price legend {
  margin-bottom: 49px;
}
.filter .filter-price {
  line-height: 22px;
  margin-bottom: 56px;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding: 39px 20px 0 20px;
  background-color: #eeeeee;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cccdcd;
  background-color: #ababab;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}
.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 8px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #eeeeee;
}
.max-price {
  text-align: right;
}
.filter .filter-grid {
  margin-bottom: 25px;
}
.filter-option {
  margin-bottom: 20px;
  padding-left: 36px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-radio + label:before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left: -35px;
  top: -3px;
  border: 4px solid #a6a6a6;
  border-radius: 50%;
}
.filter-grid legend {
  margin-bottom: 16px;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  left: -27px;
  top: 5px;
  border-radius: 50%;
  background-color: #a6a6a6;
}
.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  content: "";
  border-color: #4d4d4d;
}
.filter-input-radio:checked + label:hover::after,
.filter-input-radio:focus + label::after {
  content: "";
  background-color: #4d4d4d;
}
/* особенности */
.filter .filter-feature {
  margin-bottom: 30px;
}
.filter-feature legend {
  margin-bottom: 16px;
}
.filter-input-checkbox + label:before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: -35px;
  top: -3px;
  border: 2px solid #a6a6a6;
  border-radius: 3px;
}
.filter-input-checkbox + label:hover:before,
.filter-input-checkbox:focus + label:before {
  border-color: #4d4d4d;
}
.filter-input-checkbox:checked + label:before {
  content: "";
  display: none;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 26px;
  height :23px;
  left: -35px;
  top: -3px;
  background: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
 }
.filter-input-checkbox:checked + label:hover::after,
 .filter-input-checkbox:focus + label::after {
  background: url("../img/checkbox-on - hover.svg");
 }
 .filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}
.filter-input-checkbox:disabled + label:before {
  border-color: #ededed;
}
.filter-input-checkbox:disabled + label {
  color: rgba(40, 49, 54, 0.3);
 }

.filter-input-radio:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}
.filter-input-radio:disabled + label:before {
  border-color: #ededed;
}
 .button-filter {
  padding-right: 89px;
  padding-left: 89px;
 }
/* сортировка */
.section-sorting {
  width: 760px;
}
.section-header h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700; 
  text-transform: uppercase;
  padding: 0;
  margin: 4px 0 0 0;
}
.section-header {               
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 55px;
}
.sorting-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 360px;
}
.section-sorting .sorting {         
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 272px;
  margin: 0;
  padding: 4px 0 0 0;
  list-style: none;
}
.sorting-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 42px;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  list-style: none;
}
.sorting-price {
  font-size: 14px;
  line-height: 18px;
  font-weight:400; 
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}
.sorting-price:hover,
.sorting-price:focus {
  color: rgba(0, 0, 0, 0.6);
}
.sorting-active,
.sorting-price:active {
  color: #000000;
}
.sorting-arrow {
  display: inline-block;
  width: 0px;
  height: 0px;
  border: 10px solid #ededed;
  border-bottom: none;
  border-left-width: 6px;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
}
li:nth-child(2) .sorting-arrow {
  transform: rotate(180deg);
}
.sorting-arrow:hover,
.sorting-arrow:focus {
  border-top-color: #a6a6a6;
}
.sorting-arrow-active,
.sorting-arrow:active {
  border-top-color: #231f20;
}
.sorting-arrow-active:hover {
  border-top-color: #231f20;
}
.card-list {                
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.card-item {
  position: relative;
  width: 360px;
  padding-top: 40px;
  margin-bottom: 29px;
  background: url("../img/browser-no.svg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.card-item:hover {
  background: url("../img/browser.svg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: 0 0 10px 2px #cfcfcf;
}
.hover-block {
  box-sizing: border-box;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  bottom: 0;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 44px;
}
.card-item:hover .hover-block {
  display: block;
}
.hover-block-overflow {
  width: 100%;
  max-height: 100%;
  padding-top: 31px;
  background-color: #eeeeee;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 100px;
  padding-left: 60px;
  padding-right: 60px;
  overflow-y: auto;
  box-sizing: border-box;
}
.card-btn-block {
  width: 100%;
  height: 100px;
  background-color: #eeeeee;
  position: absolute;
  left: 0;
  bottom: 0;
}
.hover-block h3 {
  text-align: center;
  margin: 0 0 15px 0;
  padding: 0;
}
.hover-block-overflow a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700; 
  text-transform: uppercase;
  color: #000000;
}
.hover-block p {
  padding: 0;
  margin: 0 0 31px 0;
  line-height: 18px;
  color: #666666;
}
.button-card {
  padding-left: 62px;
  padding-right: 62px;
}
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 28px 0 0 0;
  list-style: none;
}
.pagination-list li {
  margin-right: 11px;
}
.pagination-list li:last-child {
  margin-right: 0;
}
.pagination-item a {       /* 1,2,,3 сдующая */
  display: block;
  padding: 16px 21px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500; 
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 3px;
}
.pagination-item:last-child a {
  padding-left: 76px;
  padding-right: 76px;
}
.pagination-item-current a {
  background-color: #fff;
  border: 3px solid #eeeeee;
  padding: 13px 18px;
}
.pagination-item a[href]:hover {
  background-color: #dfdfdf;
}
.pagination-item a[href]:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}